* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --mi-bg:#796c6c;
  }

html,body {
    margin-top:60px; /* al estar la barra de navegación fija se dejan 60 px para que la sección de los productos se posicione correctamente*/
    background-color: var(--mi-bg);
}

a {
    text-decoration: none;
    list-style-type: none;
}

footer p {
    font-family: 'Hind',sans-serif;
    font-weight: 400;
    font-size:0.8rem;
    color: rgba(255,255,255,0.7);
    text-align: center;
}

.error404 {
    font-size:3rem;
    color:black;
    text-align:center;
    margin-top:10rem;
}
