.cart-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:98%;
    margin:0 auto;
    margin-top:8rem;
    padding:1rem 0;
    background-color: #3b3434;
    border-radius:5px;
}

.cart-article {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin:0.5rem auto;
    border:1px solid rgb(79, 68, 68);
    border-radius:5px;
    background-color: #3b3434;
    color:#ebda87;
}

.cart-article-img {
    width:4.7em;
    height: 4.7em;
    border-radius: 20%;
    margin:0 0.5rem;
    border:1px solid rgb(95, 90, 90);
}

.cart-article-data {
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top:10px;
    font-size:0.7rem;
}

.cart-article-data  span:first-child {
    font-weight: bold;
}

.cart-article-data  p:nth-of-type(2) {
    color:rgb(163, 153, 153);
}

.cart-article-cantidad {
    font-size:0.7rem;
    text-align: center;
}

.cart-article-cantidad span{
    font-weight: bold;
}

.cart-article-precio {
    font-size: 0.8rem;
    font-weight: bold;
}

.cart-article-delete {
    margin-right: 5px;
    background-color: #3b3434;
    border-radius:20%;
    
}
.cart-article-trash{
    width:0.8rem;
    height: auto;
    padding-bottom:5px;
}

.cart-article-delete:hover {
    opacity: 0.6;
    border:1px solid white;
}

.cart-pie {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:98%;
    margin:0 auto;
    padding:0rem 0 2rem 0;
    gap:10px;
    background-color: #3b3434;
    padding:1.5rem 3rem;
    margin-bottom:0.6rem;
}

.cart-vaciar, .cart-finalizarCompra {
    background-color: #676359;
    padding:0.5em 1em;
    border:1px solid #46443e;
    border-radius:10px;
    color:#ebda87;
    text-shadow:
    -1px -1px 0 rgb(86, 77, 77),
     1px -1px 0 rgb(86, 77, 77),
    -1px  1px 0 rgb(86, 77, 77),
     1px  1px 0 rgb(86, 77, 77);
    font-size:0.8rem;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.cart-vaciar {
    color:rgb(220, 21, 21);
    text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}

.cart-vaciar:hover, .cart-finalizarCompra:hover {
    opacity: 0.8;
    font-weight: bold;
    text-shadow: none;
}

.cart-vaciar:hover {
    background-color: rgb(220, 21, 21);
    border:1px solid #dbc8c8;
    color:white;
}

.cart-finalizarCompra:hover {
    background-color: #ebda87;
    border:1px solid #d7cccc;
    color:#676359;
}

.cart-total {
    width:98%;
    margin:0 auto;
    background-color: #3b3434;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:1rem 0;
}

.cart-total-label {
    width:auto;
    height: auto;
    padding:0.5rem 0.5rem;
    color:#ebda87;
    font-size:1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom:0;
}

.cart-total-price {
    width:auto;
    height: auto;
    padding:0.5rem 1rem;
    color:#ebda87;
    background-color: #474343;
    font-size:0.9rem;
    font-weight: bold;
    border:1px solid #ebda87;
    border-radius:10px;
    text-align: center;
}

.cart-vacio {
    color:#ebda87;
    text-align: center;
    margin:6rem auto;
}

/* Responsive Design 651 - 1200 px */
@media (min-width: 651px) and (max-width: 1200px) {
    .cart-total {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }

    .cart-pie {
        padding:1.5rem 7.1rem;
        margin-bottom:1rem;
      
    }

    .cart-total-price {
        margin-bottom:0;
    }
}

/* Responsive Degign 1201 - 1400 px*/
@media (min-width: 1201px) and (max-width: 1400px) {
    .cart-article {
        width:60%;
    }
          
    .cart-article-data {
        width:55%;
        font-size:0.9rem;
    }
    
    .cart-article-cantidad {
        font-size:0.9rem;
    }
    
    .cart-article-precio {
        font-size: 1rem;
    }
    
    .cart-article-delete {
        margin-right: 10px;
        border-radius:20%;
    }

    .cart-article-trash{
        width:1rem;
        padding-bottom:5px;
    }

    .cart-pie {
        padding:1.5rem 16.6rem;
        margin-bottom:8rem;
    }
    
    .cart-vaciar, .cart-finalizarCompra {
        font-size:1rem;
        font-weight: bold;
    }
    
    .cart-total {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }
    
    .cart-total-label {
        font-size:1.2rem;
    }

    .cart-total-price {
        font-size:1.2rem;
        border-radius:10px;
        margin-bottom:0;
    }
}

/* Responsive Degign 1401 px en adelante */
@media (min-width: 1401px) {   
    .cart-article {
        width:60%;
    }
          
    .cart-article-data {
        width:55%;
        font-size:0.9rem;
    }
    
    .cart-article-cantidad {
        font-size:0.9rem;
    }
    
    .cart-article-precio {
        font-size: 1rem;
    }
    
    .cart-article-delete {
        margin-right: 10px;
        border-radius:20%;
    }

    .cart-article-trash{
        width:1rem;
        padding-bottom:5px;
    }

    .cart-pie {
        padding:1.5rem 23.5rem;
        margin-bottom:27rem;
    }
    
    .cart-vaciar, .cart-finalizarCompra {
        font-size:1rem;
        font-weight: bold;
    }
    
    .cart-total {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }

    .cart-total-label {
        font-size:1.2rem;
    }

    .cart-total-price {
        font-size:1.2rem;
        border-radius:10px;
        margin-bottom:0;
    }
}