/* ItemDetail */
.item-detail {
    display:flex;
    flex-direction: column;
    margin:6rem auto;
    width:90%;
    overflow: hidden;
    border-radius: 20px;
    background-color: #4e4545;
}

.item-detail-01 {
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    width:100%;
    height: 100%;
    overflow: hidden;
    gap:2%;
}

.item-detail-01 img {
    width: 49%;
    height: 100%;
    object-fit: cover;
    animation: fadein 1.5s ease;
}

.item-detail-02 {
    display:flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    overflow: hidden;
    margin-top:10px;
}

.item-detail-02 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fadein 1.5s ease;
}

@keyframes fadein {
    0% {
        opacity:0;
        filter: blur(20px);    
    }
  
    10% {
        opacity:1;
        brightness: (2) blur(10px);
    }
}

.item-text {
    display:flex;
    flex-direction: column;
    margin:2rem auto;
    padding:10px;
    color:rgba(255,255,255, 0.9);
    font-family: 'Hindi','Times New Roman', Times, serif;
    font-size:1.5rem;
}

.item-text li {
    list-style-type: disc;
    font-size:1.2rem;
    opacity: 0.7;
}

.item-text-nombre {
    font-size:1.6rem;
}

.item-text-categoria {
    opacity: 0.7;
    margin-top:2rem;
    margin-bottom:3rem;
}

.item-text-precio {
    margin-top:2rem;
    color: #ebda87;
    font-size: 1.8rem;
    font-family:'Poppins',Arial,sans-serif;
    font-weight: 600;
    text-align: center;
}

/* Responsive Degign 1201 - 1400 px*/
@media (min-width: 1201px) and (max-width: 1400px) {
    .item-detail {
        display:flex;
        flex-direction: row;
        margin:0.5rem auto;
        margin-top:7rem;
        margin-bottom:2rem;
        width:80%;
        height: 80vh;
        overflow: hidden;
        border-radius: 20px;
        background-color: #4e4545;
    }

    .item-detail-01 {
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        margin:0px;
        width:20%;
        height: 100%;
        overflow: hidden;
        gap:5px;
    }

    .item-detail-01 img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .item-detail-02 {
        display:flex;
        flex-direction: column;
        width:35%;
        height: 100%;
        overflow: hidden;
        margin-left:5px;
        margin-top:0px;
    }

    .item-detail-02 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .item-text {
        display:flex;
        flex-direction: column;
        margin:0.5rem auto;
        padding:10px;
        width:45%;
        color:rgba(255,255,255, 0.9);
        font-family: 'Hindi','Times New Roman', Times, serif;
        font-size:1.5rem;
    }

    .item-text li {
        list-style-type: disc;
        font-size:1rem;
        opacity: 0.7;
    }

    .item-text-nombre {
        font-size:1.6rem;
    }

    .item-text-categoria {
        font-size:1rem;
        opacity: 0.7;
        margin-top:0.5rem;
        margin-bottom:0.1rem;
    }

    .item-text-precio {
        margin-top:0.1rem;
        color: #ebda87;
        font-size: 1.3rem;
        font-family:'Poppins',Arial,sans-serif;
        font-weight: 600;
    }
}

/* Responsive Degign 1401 px en adelante */
@media (min-width: 1401px) {
    .item-detail {
        display:flex;
        flex-direction: row;
        margin:2rem auto;
        margin-top:10rem;
        margin-bottom:4rem;
        width:70%;
        height: 80vh;
        overflow: hidden;
        border-radius: 20px;
        background-color: #4e4545;
    }

    .item-detail-01 {
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        margin:0px;
        width:20%;
        height: 100%;
        overflow: hidden;
        gap:5px;
    }

    .item-detail-01 img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .item-detail-02 {
        display:flex;
        flex-direction: column;
        width:35%;
        height: 100%;
        overflow: hidden;
        margin-left:5px;
        margin-top:0px;
    }

    .item-detail-02 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .item-text {
        display:flex;
        flex-direction: column;
        margin:0.5rem auto;
        padding:10px;
        width:45%;
        height: 68vh;
        color:rgba(255,255,255, 0.9);
        font-family: 'Hindi','Times New Roman', Times, serif;
        font-size:1.5rem;
    }

    .item-text li {
        list-style-type: disc;
        font-size:1rem;
        opacity: 0.7;
    }

    .item-text-nombre {
        font-size:1.6rem;
    }

    .item-text-categoria {
        font-size:1rem;
        opacity: 0.7;
        margin-top:0.5rem;
        margin-bottom:0.1rem;
    }

    .item-text-precio {
        margin-top:0.1rem;
        color: #ebda87;
        font-size: 1.5rem;
        font-family:'Poppins',Arial,sans-serif;
        font-weight: 600;
    }
}
