.itemList-section {
    width:98vw;
    padding:2rem 6rem;
}

/* Responsive Degign 651 - 1200 px */
@media (min-width: 651px) and (max-width: 1200px) {
    .itemList-section {
        padding:2rem 9rem;
    }
}

/* Responsive Degign 1201 - 1400 px*/
@media (min-width: 1201px) and (max-width: 1400px) {
    .itemList-section {
        padding:3rem auto;
    }
}

/* Responsive Degign 1401 px en adelante */
@media (min-width: 1401px) {
    .itemList-section {
        padding:2rem 11rem;
    }
}